* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

span {
    display: inline-block;
}

a {
    display: inline-block;
    text-decoration: none;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

/* scroll top part start */
.scroll-to-top {
    display: inline-block;
    background-color: red;
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    border: 0;
    position: fixed;
    bottom: -60px;
    right: 30px;
    transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
    opacity: 0;
    visibility: hidden;
    font-size: 18px;
    z-index: 99;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.scroll-to-top::after {
    position: absolute;
    z-index: -1;
    content: '';
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 1;
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 80%);
}

.scroll-to-top.show {
    opacity: 1;
    visibility: visible;
    bottom: 30px;
}